* {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  background-color: #f0d9e7;
  height: 200vh;
}

.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__label {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3000;
  color: red;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
}
.navigation__background {
  font-size: inherit;
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  background-image: radial-gradient(#a2dbfa, #39a2db);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.95, -0.06, 0.07, 1.07);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.34, -0.39, 0.38, 1.42);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2000;
  width: 100%;
}
.navigation__items {
  margin: 2rem;
  overflow: hidden;
}
.navigation__link {
  transition: all 0.5s;
}
.navigation__link, .navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1.5rem;
  background-size: 220%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #5c33f6 50%);
}
.navigation__link span, .navigation__link:link span, .navigation__link:visited span {
  font-size: 3rem;
  padding-right: 1rem;
}
.navigation__link:hover {
  background-position: 100%;
  color: #f0d9e7;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #999;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
}
.navigation__icon::before {
  top: -0.7rem;
}
.navigation__icon::after {
  top: 0.9rem;
}
.navigation__label:hover .navigation__icon::before {
  top: -0.9rem;
}
.navigation__label:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  top: 0;
  transform: translate(-50%, 0%) rotate(135deg);
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  top: 0;
  transform: translate(-50%, 0%) rotate(-135deg);
}/*# sourceMappingURL=style.css.map */
